<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/style.css" />
    <title>Job Search</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">    

  </head>
  <body class=search_background>
    <h1 class=search_header>Developer & Programming Jobs</h1>
    <h3 class=search_title>Found {{resultsNumber}} results for "{{searchingBy}}"</h3>
    <h5>Search results are transferred from Stack Overflow, We Work Remotely, and Remote Ok.</h5>
    <a href="/">Go back to Search again!</a></br>
    <a href="/export?word={{searchingBy}}">Export to CSV</a>
    <section>
      <h4>Title</h4>
      <h4>Company</h4>
      <h4>Location</h4>
      <h4>Link</h4>
      {% for job in jobs %}
        <span class=job_title>{{job.title}}</span>
        <span class=job>{{job.company}}</span>
        <span class=job>{{job.location}}</span>
        <a class=job href="{{job.link}}" target="_blank">Apply</a>
      {% endfor %}
    </section>
  </body>
</html>      